.add_link_bar {
  width: 100%;
  margin-top: 94px;
  padding: 60px 32px 90px;
  background: var(--Linkbrary-bg);
}

.add_link_form {
  display: flex;
  position: relative;
  width: 800px;
  margin: auto;
  align-items: center;
  border-radius: 15px;
  border: 1px solid var(--Linkbrary-primary-color);
  background-color: var(--Linkbrary-white);
}

.add_link_icon {
  position: absolute;
  height: 20px;
  width: 20px;
  margin-left: 20px;
  background-size: cover;
}

.add_link_bar_input {
  width: 100%;
  border: 0.1rem solid var(--lb-primary-color);
  border-radius: 15px;
  padding: 16px 108px 16px 52px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--lb-gray60);
}

.add_link_button {
  position: absolute;
  right: 20px;
  width: 90px;
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background: var(--gra-purpleblue-to-skyblue);
  font-size: 14px;
  font-weight: 600;
  color: var(--Grey-light);

  cursor: pointer;
  white-space: nowrap;
}
